# Git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Documentation
README.md
LICENSE
docs/

# Docker
Dockerfile
docker-compose.yaml
.dockerignore

# Dependencies (akan di-install ulang di dalam container)
node_modules

# Build output
dist

# Env
*.env
dev.env.example

# Cache
cache/

# OS files
.DS_Store
Thumbs.db
