x-common-general: &common-general
  restart: unless-stopped
  deploy:
    resources:
      limits:
        memory: 512M

services:
  rawon:
    <<: *common-general
    image: ghcr.io/stegripe/rawon:latest
    container_name: rawon-bot
    env_file:
      - .env
      - path: optional.env
        required: false
      - path: dev.env
        required: false
    networks:
      - net
    volumes:
      - rawon:/app/cache

networks:
  net:

volumes:
  rawon:
