x-common-general: &common-general
  restart: unless-stopped
  deploy:
    resources:
      limits:
        memory: 512M

services:
  rawon:
    <<: *common-general
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    image: ghcr.io/stegripe/rawon:latest
    container_name: rawon-bot
    env_file:
      - .env
      - dev.env
    volumes:
      - rawon:/app/cache

volumes:
  rawon:
