name: Lint code & compile test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [">=16.6.0 <17.x"]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2.4.0
  
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2.5.0
      with:
        node-version: ${{ matrix.node-version }}
        check-latest: true
        
    - name: Install dependencies
      run: npm ci

    - name: Lint code
      run: npm run lint

  compile:
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [">=16.6.0 <17.x"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.4.0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.5.0
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true
        
      - name: Install typescript
        run: npm i --save-dev typescript

      - name: Delete node modules folder
        run: rm -rf node_modules

      - name: Install dependencies
        run: npm ci

      - name: Test compile
        run: npm run tscompile && rm -rf dist
